body,div{
    margin: 0;
    padding: 0;
}
body{
    background: #000;
    color: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* counter */
#counter {
    width: 100%;
    height: 10px;
    margin: 8px auto 0;
    background: #ddd;
    position: relative;
}
#counter .timer{
    width: 100%;
    height: 10px;
    margin: 0;
    position: absolute;
}
#counter .timer.time5sec,
#counter .timer.time10sec,
#counter .timer.time15sec{
    background: #e91e63;
}
#counter .timer.time5sec{
    animation: fullexpand 5s linear;
    -moz-animation: fullexpand 5s linear;
    -webkit-animation: fullexpand 5s linear;
}
#counter .timer.time10sec{
    animation: fullexpand 10s linear;
    -moz-animation: fullexpand 10s linear;
    -webkit-animation: fullexpand 10s linear;
}
#counter .timer.time15sec{
    animation: fullexpand 15s linear;
    -moz-animation: fullexpand 15s linear;
    -webkit-animation: fullexpand 15s linear;
}
@keyframes fullexpand {
    0% { width: 0px; }
    100% { width: 100%; }
}
@-moz-keyframes fullexpand {
    0% { width: 0px; }
    100% { width: 100%; }
}
@-webkit-keyframes fullexpand {
    0% { width: 0px; }
    100% { width: 100%; }
}

/* map */
#map{
    width: 100%;
    position: relative;
}
#map .mapfield{
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}
#map .mapfield.hidden{
    display: none;
}
#map .mapfield .answer,
#map .mapfield .expected{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
#map .mapfield .answer{
    z-index: 100;
}
#map .mapfield .expected{
    z-index: 99;
}
#map .mapfield .expected.hidden{
    display: none;
}
#map img{
    width: 100%;
}

.answer_h,
.answer_s,
.expected_h,
.expected_s{
    display: block;
    width: 20px;
    height: 20px;
    background-color: rgba(100,100,100,0.5);
    border-radius: 10px;
    position: absolute;
}
/* hunter版のスポーン */
.hunter .answer_h{
    display: none;
    background-color: rgba(255,0,0,0.8);
}
.hunter .answer_s{
    display: none;
    background-color: rgba(255,255,0,0.8);
}
.hunter .expected_h{
    display:none;
}
.hunter .expected_s{
    background-color: rgba(0,50,255,0.8);
}
.hunter .answer_h.answerd,
.hunter .answer_s.answerd{
    display: block;
}
.hunter .answer_camera{
    display:none;
    width: 8px;
    border-right: 8px solid transparent;
    border-bottom: 16px solid rgba(178,206,84,0.8);
    border-left: 8px solid transparent; 
}
.hunter .answer_camera.answerd{
    display: block;
}
/* survivor版のスポーン */
.survivor .answer_h{
    display: none;
    background-color: rgba(255,255,0,0.8);
}
.survivor .answer_s{
    display: none;
}
.survivor .answer_s.self{
    background-color: rgba(0,10,255,0.8);
}
.survivor .answer_s.other{
    background-color: rgba(0,180,255,0.5);
}
.survivor .expected_h{
    display: block;
    background-color: rgba(255,0,0,0.8);
}
.survivor .expected_s{
    display:none;
}
.survivor .answer_h.answerd,
.survivor .answer_s.self.answerd{
    display: block;
}
.survivor .answer_s.other.answerd{
    display: none;
}
/* 社交恐怖 */
.survivor .aesop .answer_s.self.answerd,
.survivor .aesop .answer_s.other.answerd{
    display: block;
}

/* helper and reset  */
.mbz{
    margin-bottom: 0;
}
select{
    font-size: 16px;
}
/* action-panel */
.action-panel{
    padding-top: 8px;
    display: flex;
    align-items: center;
}
.right-button{
    text-align: right;
}

/* sidenav  */
.sidenav{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.sidenav .setting-menu{
    flex: 1 0 auto;
}
.sidenav li{
    padding: 8px;
    line-height: inherit;
}
.footernav li>a{
    color: #4fc3f7;
    height: 30px;
    line-height: 30px;
}
/* checkbox */
[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after{
    border-color: #fff;
    margin-top: 2px;
}
[type="checkbox"].filled-in:checked+span:not(.lever):after{
    margin-top: 2px;
}

